body {
    /* background: #20252b; */
    background: linear-gradient(45deg, #20252b, #181c20);
    color: #f3f3f3;
}
nav {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
}
a {
    color: #2a8aa7;
}
a:hover {
    color: #226b81;
}
.article {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    background: #272c33;
}
h1, h2, h3, h4, h5, h6 {
    text-shadow: 0 0 3px rgb(80, 80, 80);
}
pre {
    color: #9ca5b8;
    background: #222e38;
    border-color: #a8714d;
    border-style: solid;
    box-shadow: 1px 1px 5px #0f0f0f;
    transition: ease 0.3s all;
}
pre:hover {
    border-color: #db996c;
}
.list-group {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}
.list-group-item {
    background: #272c33;
}
hr {
    background: #585858;
}